---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a rising softmore in high school. I go to Gill St. Bernards and I love math and physics. I also participate in olympiads. I made USACO gold, Aime, USAPHO, USNCO nats and more.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High School Degree"
      subtitle="4 years, Gill St Bernards, Peapack and Gladstone"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Job title @ company" subtitle="Dates, place">
      What you did here.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>programmer</li>
    <li>debater</li>
    <li>mathematician</li>
    <li>proofs</li>
    <li>robotics</li>
  </ul>
</BaseLayout>
